/* Reloj grande */
#clock {
font-size: 50px;
font-weight: 300;
letter-spacing: 3px;
text-align: center;
margin-bottom: 10px;
color: rgb(20, 5, 227);

}

/* Fecha */
#date {
font-size: 22px;
opacity: 0.8;
margin-bottom: 25px;;
text-align: center;
color: rgb(16, 14, 144);
}

/* Mensaje */
#message {
font-size: 20px;
color:rgba(42, 26, 134, 0.59)
text-align: center;
max-width: 90%;
}
